<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
        <title>{{ title }} - 091 Labs door control</title>
        {% else %}
        <title>091 Labs door control</title>
        {% endif %}

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
    </body>
</html>
