<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
        <title>{{ title }} - 091 Labs door control</title>
        {% else %}
        <title>091 Labs door control</title>
        {% endif %}

        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
